---
// 0.astro
const { imageSrc, title, description, buttonText } = Astro.props;
---

<div class="card">
  <div class="card-top">
    <img src={imageSrc} alt={title} />
  </div>
  <div class="card-bottom">
    <h3>{title}</h3>
    <div class="line">
      <p>{description}</p>
      <button>{buttonText}</button>
    </div>
  </div>
</div>